@font-face {
    font-family: Onest;
    src: url(../fonts/onest/TTF/OnestBold1602-hint.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Onest-reg;
    src: url(../fonts/onest/TTF/OnestRegular1602-hint.ttf);
    font-weight: normal;
}


*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    height: 1000px;
} */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #000814;
    z-index: 100;
}

.bounce {
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    /* 0% {
        transform: translateY(0px);
    }

    15% {
        transform: translateY(-8px);
    } */

    50% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(-8px);
    }

    70% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(0px);
    }

    90% {
        transform: translateY(4px);
    }

    100% {
        transform: translateY(0px);
    }
}

.quick_btn {
    z-index: 50;
    left: calc(100% - 80px - var(--width));
    top: calc(100vh - 80px - var(--height));
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    --width: 96px;
    --height: 96px;
    width: var(--width);
    height: var(--height);
    background: #0066FF;
    border-radius: 50%;
    border: none;
}

.navigation {
    /* position: fixed; */
    padding: 20px 20px;

    width: 392px;
    height: 66px;

    background: #F4F5F5;
    border-radius: 20px;
}

.navigation_item {
    font-family: 'Onest';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #808489;
    margin: auto;
}

.navigation .active {
    color: #000814 !important;
}

/* Configurator */
.modal-dialog {
    width: 100%;
    height: auto !important;
    max-width: none;
    margin: 0;
}

.modal-content {
    border: none;
    border-radius: 0;
}

.close_btn {
    position: absolute;
    top: 60px;
    left: 80px;
    --width: 66px;
    --height: 66px;
    width: var(--width);
    height: var(--height);
    border: none;
    background: initial;
}

.configurator {
    display: flex;
    width: auto;
    height: 100vh;
}

.configurator .left-block {
    position: relative;
    max-width: 600px;
    height: 100vh;
    background: #000814;
    display: flex;
    justify-content: center;
    align-items: center;
}

.configurator .right-block {
    width: 100%;
    /* max-width: 840px; */
    height: 100vh;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-block .main {
    width: 100%;
    height: 100%;
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Breadcrumb */
.breadcrumb {
    justify-content: space-between;
    margin-bottom: 64px;
}

.breadcrumb .breadcrumb_item {
    display: none;
    align-items: center;
    margin-right: 50px;
}

.breadcrumb .active {
    display: flex;
}

.breadcrumb .breadcrumb_number {
    width: 32px;
    height: 32px;
    background: #FAFAFA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;

    /* Font */
    font-family: Onest;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #808489;
}

.breadcrumb .active .breadcrumb_number {
    background: #0066FF;
    color: #FFFFFF;
}

.breadcrumb .breadcrumb_title {
    font-family: 'Onest';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #808489;
}

.breadcrumb .active .breadcrumb_title {
    color: #000814;
}

.configurator .title {
    font-family: Onest;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 160%;
    color: #000814;
    margin-bottom: 40px;
}

.configurator .selector {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.configurator .selector_item {
    padding: 20px 40px;
    border-radius: 20px;
    border: none;
    background: #FAFAFA;
    margin-right: 16px;
    margin-bottom: 16px;

    /* Font */
    font-family: Onest-reg;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    color: #000814;
}

.configurator .selector .active {
    background: #0066FF;
    color: #FFFFFF;
}

.other {
    display: none;
}

#other_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 64px;
    padding-top: 41px;
    padding-right: 64px;
    padding-bottom: 17px;
    margin-bottom: 20px;

    width: 100%;
    height: 80px;

    /* Font */
    font-family: 'Onest';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: capitalize;
}

.other_input_label {
    position: absolute;
    top: 20px;
    left: 64px;

    /* Font */
    font-family: 'Onest';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-transform: capitalize;
    color: #A0A3A7;
}

.other_input_img {
    position: absolute;
    top: 30px;
    left: 22px;
}

.configurator .configurator_submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;

    width: 100%;
    height: 96px;

    background: #0066FF;
    border-radius: 32px;
    border: none;

    /* Font */
    font-family: 'Onest';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
}

.arrow-back_container {
    /* width: 96px;
    height: 96px; */
    padding: 36px;
    margin-right: 16px;
    background: #FAFAFA;
    border-radius: 32px;
}

button {
    border: none !important;
}

.calendar {
    padding: 20px;
}

.periods {
    padding: 8px 8px 8px 20px;
    background: #FAFAFA;
    border-radius: 26px;
}

.periods_item {
    width: 146px;
    padding: 20px;
    margin-right: 8px;
    border-radius: 20px;

    font-family: 'Onest';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #000814;
    background-color: inherit;
}

.periods .active {
    background: #0066FF;
    color: #FFFFFF;
}

#email {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 64px;
    padding-top: 41px;
    padding-right: 64px;
    padding-bottom: 17px;

    width: 100%;
    height: 80px;

    /* Font */
    font-family: 'Onest';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: capitalize;
}

#name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 64px;
    padding-top: 41px;
    padding-right: 64px;
    padding-bottom: 17px;

    width: 100%;
    height: 80px;

    /* Font */
    font-family: 'Onest';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: capitalize;
}

.spasibo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spasibo_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spasibo_img {
    width: 96px;
    height: 96px;
    background: #0066FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.spasibo_title {
    text-align: center;
    width: 214px;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    color: #000814;
}

.spasibo_sub_text {
    text-align: center;
    width: 181px;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #A0A3A7;
}

/* End Configurator */

/* Main landing */
.main_container {
    padding: 0 80px;
    width: 100%;
}

.main_title {
    width: 760px;
    margin: auto;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 120%;

    text-align: center;

    color: #000814;
}

.try_btn {
    width: 213px;
    height: 96px;
    background: #0066FF;
    border-radius: 32px;
}

.test::-webkit-scrollbar {
    display: none;
}

.privacy {
    padding: 20px 33px;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #000814;
    border-top: 1px solid #EEEFF1;
    border-bottom: 1px solid #EEEFF1;
    margin-bottom: 112px;
}

.check-box input+label,
input+label::before,
input+label::after {
    -webkit-transition: all .2s;
    transition: all .2s;
}

.check-box input+label {
    display: inline-block;
    position: relative;
    width: 56px;
    height: 32px;
    border-radius: 12px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .check-box input+label {
        width: 27px;
        height: 15px;
    }
}

.check-box input+label::before {
    display: block;
    content: attr(data-off-label);
    position: absolute;
    top: 15px;
    right: 10px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.check-box input+label::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 9px;
}

@media screen and (max-width: 767px) {
    .check-box input+label::after {
        width: 11px;
        height: 11px;
        top: 2px;
    }
}

.check-box input:checked+label::before {
    content: attr(data-on-label);
    left: 14px;
    right: auto;
    color: #fff;
}

.check-box input:checked+label::after {
    left: 28px;
    background-color: #f7f7f7;
}

@media screen and (max-width: 767px) {
    .check-box input:checked+label::after {
        left: 12.5px;
    }
}

#check1+label {
    background-color: #565256;
}

#check1+label::before {
    color: #999;
}

#check1:checked+label {
    background-color: #E40046;
}

#check1:checked+label::before {
    color: #fff;
}

#check2+label {
    background-color: #565256;
}

#check2+label::before {
    color: #999;
}

#check2:checked+label {
    background-color: #E40046;
}

#check2:checked+label::before {
    color: #fff;
}

#check3+label {
    background-color: #565256;
}

#check3+label::before {
    color: #999;
}

#check3:checked+label {
    background-color: #E40046;
}

#check3:checked+label::before {
    color: #fff;
}

.check-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20.7125px;
    line-height: 25px;
    color: #FFFFFF;
}

.conf_input {
    background: #FAFAFA;
    border-radius: 20px;
    color: #000814;
}

.conf_input:hover {
    background: #F4F5F5;
    border-radius: 20px;
}

.conf_input:active {
    background: #FFFFFF;
    border: 2px solid #0066FF;
    border-radius: 20px;
}

.conf_input:not(:placeholder-shown) {
    background: #FAFAFA;
    border-radius: 20px;
}

.conf_input:disabled {
    background: #EEEFF1;
    border-radius: 20px;
}

@media screen and (max-width: 767px) {
    .check-text {
        font-size: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .configurator .left-block {
        display: none;
    }

    .close_btn {
        position: unset;
    }
}